@use "../../styles/colors.scss" as colors;

.container-card {
  width: 140px * 1.5;
  height: 200px * 1.5;
  padding: 10px;
  border-radius: 10px * 1.5;

  background-color: colors.$black-rock;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px * 1.5;

  cursor: pointer;

  position: relative;

  .film-image {
    width: 120px * 1.5;
    height: 120px * 1.5;
    border-radius: 10px * 1.5;
  }

  .heart {
    position: absolute;
    top: 16px;
    right: 24px;

    cursor: pointer;
  }

  .heart-red {
    position: absolute;
    top: 16px;
    right: 24px;
    filter: invert(44%) sepia(70%) saturate(3396%) hue-rotate(333deg) brightness(116%) contrast(108%);
  }
}

.film-title {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 12px * 1.5;
  line-height: 15px * 1.5;
  text-align: center;
  color: colors.$ivory;
}